@charset "utf-8";

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   各種設定項目
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

$header_height: 100px; // ヘッダーの高さ
$header_width: 1280px; // ヘッダーの高さ
$outer: 1600; // アウター(カンバス幅)
$inner: 1120; // インナー(コンテンツ外枠幅)
$inner1: 950; // インナー(コンテンツ内枠)の幅
$inner2: 800; // 上記の2パターン目 ※必要に応じて
$inner3: 600; // 上記の3パターン目 ※必要に応じて

$key_color: #92aac7; // テーマカラー
$key_font_color: #333333; // フォントカラー
$bg_color: #fff; // 背景色
$header_bg_color: #fff; // ヘッダー背景色
$font_family1: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo,
    sans-serif; // フォント1
$font_family2: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo,
    sans-serif; // フォント2

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   以下は変更無用
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */
/* =Reset default browser CSS.
Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html,
body,
main,
section,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0 auto;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
}

:focus {
    outline: 0;
}

ol,
ul {
    list-style: none;
}

caption,
th,
td {
    font-weight: normal;
}

blockquote,
q {
    quotes: "" "";
    &:before,
    &:after {
        content: "";
    }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    color: $key_font_color;
    font-family: $font_family1;
    line-height: 1.5;
    background-image: none;
    word-wrap: break-word;
    background-color: $bg_color;
}

* {
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    img {
        border: 0;
    }
    &:hover,
    &:active {
        outline: none;
        color: $key_color;
        text-decoration: underline;
    }
}

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   ヘッダー
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

header {
    background-color: $header_bg_color;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 999;
    font-size: 16px;
    .header_wrap {
        padding-right: 0;
        display: flex;
        justify-content: space-between;
        height: $header_height;
        max-width: $header_width;
    }
    nav {
        width: 78%;
        display: flex;
        @media screen and (max-width: 1023px) {
            width: 100%;
        }
    }
    #header_logo {
        max-width: 28%;
        margin: auto;
        @media screen and (max-width: 1023px) {
            width: 100%;
            min-width: 200px;
        }
    }
    #gNav {
        display: flex;
        align-items: center;
        margin: 0 0 0 auto;
        li {
            position: relative;
            &.active:after {
                width: 100%;
            }
            &:hover a {
                opacity: 1;
            }
            &:hover:after {
                width: 100%;
            }
        }
        > li {
            margin-right: 1.5em;
            padding: calc(calc($header_height - 1.5em) * 0.5) 0;
        }
    }
    .gNav_lastchild {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            font-size: 20px;
            line-height: 1;
        }
        a::before {
            // 画像を擬似要素「::before」として使う。
            content: "";
            display: inline-block;
            width: 26px;
            height: 20px;
            background-image: url("./img/header/header_mailonly.png");
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: middle;
            margin-right: 12px;
        }
    }
    @media screen and (max-width: 1023px) {
        .container {
            padding-left: 0px;
        }
        #gNav,
        div.gNav_lastchild {
            display: none;
        }
    }
}
main {
    margin-top: $header_height;
    /* ヘッダー分コンテンツを下げる */
}

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   グローバルメニュー ドロップダウン
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

nav {
    @media screen and (max-width: 1023px) {
        padding: 0;
    }
    ul {
        @media screen and (max-width: 1023px) {
            display: block;
        }
        ul {
            display: block; // 2階層目以降は横並びにしない
            li {
                &.has_child::before {
                    content: "";
                    position: absolute;
                    left: 6px;
                    top: 17px;
                    width: 6px;
                    height: 6px;
                    border-top: 2px solid #fff;
                    border-right: 2px solid #fff;
                    transform: rotate(45deg);
                    @media screen and (max-width: 1023px) {
                        transform: rotate(135deg);
                        left: 20px;
                    }
                }
            }
        }
        li {
            position: relative; // 下の階層のulや矢印の基点にするためliにrelativeを指定
            a:hover {
                color: $key_font_color;
            }
            &.has_child {
                &::before {
                    content: "";
                    position: absolute;
                    left: 46%;
                    top: 66%;
                    width: 6px;
                    height: 6px;
                    border-top: 2px solid #999;
                    border-right: 2px solid #999;
                    transform: rotate(135deg);
                    @media screen and (max-width: 1023px) {
                        display: none;
                    }
                }
                @media screen and (max-width: 1023px) {
                    > a::after {
                        content: "";
                        margin: 0 0 4px 10px;

                        width: 6px;
                        height: 6px;
                        border-top: 2px solid #999;
                        border-right: 2px solid #999;
                        transform: rotate(135deg);
                    }
                }
            }
            @media screen and (max-width: 1023px) {
                &.has_child.active::before {
                    transform: rotate(-45deg);
                }
            }
        }
    }
    li {
        &.has_child ul {
            position: absolute;
            left: 0;
            top: 86%;
            z-index: 4;
            background: $bg_color;
            width: 150%;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s;
            @media screen and (max-width: 1023px) {
                position: relative;
                top: 0;
                width: 100%;
                visibility: visible;
                opacity: 1;
                display: none;
                transition: none;
            }
            ul {
                top: 0;
                left: 182px;
                background: #66adf5;
                @media screen and (max-width: 1023px) {
                    position: relative;
                    left: 0;
                    width: 100%;
                    visibility: visible;
                    opacity: 1;
                    display: none;
                    transition: none;
                }
                li {
                    a:hover,
                    a:active {
                        background: #448ed3;
                    }
                }
            }
            li {
                background-color: lighten($key_color, 15%);
                border-top: solid 2px $header_bg_color;
                margin: 0 auto;
                a {
                    line-height: 2.2em;
                }
                a:hover,
                a:active {
                    background-color: lighten($key_color, 5%);
                }
                &:last-child a {
                    border-bottom: none;
                }
            }
        }
        &.has_child:hover > ul,
        &.has_child ul li:hover > ul,
        &.has_child:active > ul,
        &.has_child ul li:active > ul {
            visibility: visible;
            opacity: 1;
        }
    }
}

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   ハンバーガーメニュー
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

#hNavWrap {
    display: none;
    @media screen and (max-width: 1023px) {
        display: block;
    }
    #hNav {
        position: fixed;
        top: 0;
        bottom: 0;
        height: fit-content;
        opacity: 0;
        width: 300px;
        margin: $header_height 0 10px 0;
        background: #fff;
        border-left: solid 1px;
        border-top: solid 1px;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        transition: 0.2s;
        z-index: 999;
        li {
            width: 100%;
            border-bottom: 1px solid #000;
            // padding: 1.5em;
            text-align: center;
            a {
                color: #000;
                padding: 1em;
                transition-duration: 0.2s;
            }
            ul {
                a {
                    font-size: 0.9em;
                    padding: 0;
                }
            }
        }
        @media screen and (max-width: 1023px) {
            span {
                display: none;
            }
        }
    }
    .hNavToggleBtn {
        position: fixed;
        top: 25px;
        right: 16px;
        width: 32px;
        height: 32px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        z-index: 9999;
        span {
            display: block;
            position: absolute;
            left: 0;
            width: 30px;
            height: 2px;
            background-color: #000;
            border-radius: 4px;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            &:nth-child(1) {
                top: 4px;
            }
            &:nth-child(2) {
                top: 15px;
            }
            &:nth-child(3) {
                bottom: 4px;
            }
        }
    }
    &.open {
        #hNav {
            right: 0;
            opacity: 1;
            -webkit-transition: 0.25s ease-in 0.25s;
            transition: 0.25s ease-in 0.25s;
        }
        .hNavToggleBtn {
            span:nth-child(1) {
                -webkit-transform: translateY(11px) rotate(45deg);
                transform: translateY(11px) rotate(45deg);
            }
            span:nth-child(2) {
                left: 50%;
                opacity: 0;
                -webkit-animation: active-btn17-bar02 0.8s forwards;
                animation: active-btn17-bar02 0.8s forwards;
            }
            span:nth-child(3) {
                -webkit-transform: translateY(-11px) rotate(-45deg);
                transform: translateY(-11px) rotate(-45deg);
            }
            &::after {
                -webkit-box-shadow: 0px 0px 0px 1px #333333;
                box-shadow: 0px 0px 0px 1px #333333;
            }
        }
        #hNavClose {
            display: block;
            position: absolute;
            width: 100vw;
            height: 100vh;
            top: 0;
            right: 0px;
            -webkit-transition: 0.25s ease-in;
            transition: 0.25s ease-in;
            z-index: -10;
        }
    }
}

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   ページトップへボタン
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

#pageTop {
    position: fixed;
    background-color: #ffffff;
    border-radius: 60px;
    bottom: 0px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 9999;
    cursor: pointer;
    @media screen and (max-width: 1023px) {
        width: 40px;
        height: 40px;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 23px;
        left: 0;
        right: 0;
        margin: auto;
        width: 8px;
        height: 8px;
        border-top: 2px solid #000000;
        border-right: 2px solid #000000;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        z-index: 9999;
        @media screen and (max-width: 1023px) {
            bottom: 13px;
        }
    }
}

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   フォントサイズ .font_size_○○
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

@for $i from 5 through 20 {
    .font_size_#{2 * $i} {
        font-size: 2px * $i !important;
    }
}

@media only screen and (max-width: 640px) {
    @for $i from 10 through 15 {
        .font_size_#{2 * $i} {
            font-size: 2 * $i - 4px !important;
        }
    }
}

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   行高さ line_height_○○
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

@for $i from 10 through 20 {
    .line_height_#{$i} {
        line-height: #{$i * 0.1}rem !important;
    }
}

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   マージン・パディング margin(padding)_top(btm)_○○
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

$interval: 0 5 10 20 30 40 50 60 70 80 90 100 150;
@each $px in $interval {
    .margin_top_#{$px} {
        margin-top: #{$px}px !important;
    }
    .margin_btm_#{$px} {
        margin-bottom: #{$px}px !important;
    }
    .padding_top_#{$px} {
        padding-top: #{$px}px !important;
    }
    .padding_btm_#{$px} {
        padding-bottom: #{$px}px !important;
    }
}

@media only screen and (max-width: 640px) {
    @each $px in $interval {
        @if 1 < $px {
            .margin_top_#{$px} {
                margin-top: #{$px / 2}px !important;
            }
            .margin_btm_#{$px} {
                margin-bottom: #{$px / 2}px !important;
            }
            .padding_top_#{$px} {
                padding-top: #{$px / 2}px !important;
            }
            .padding_btm_#{$px} {
                padding-bottom: #{$px / 2}px !important;
            }
        }
    }
}

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   パディングサイド padding_side_○○
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

@for $i from 1 through 5 {
    .padding_side_#{$i * 10 } {
        padding-left: #{$i * 10}px !important;
        padding-right: #{$i * 10}px !important;
    }
}

@media only screen and (max-width: 640px) {
    @for $i from 1 through 5 {
        .padding_side_#{$i * 10 } {
            padding-left: #{$i * 5}px !important;
            padding-right: #{$i * 5}px !important;
        }
    }
}

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   テキスト
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

/*----align----*/

.text_align_ctr {
    text-align: center !important;
}

.text_align_lft {
    text-align: left !important;
}

.text_align_rgt {
    text-align: right !important;
}

/*----文字間----*/

.l_space_005 {
    letter-spacing: 0.05em;
}

@for $i from 1 through 9 {
    .l_space_0#{$i} {
        letter-spacing: #{$i / 10}em;
    }
}

.l_space_10 {
    letter-spacing: 1em;
}

@media only screen and (max-width: 640px) {
    .l_space_005,
    .l_space_10 {
        letter-spacing: inherit;
    }
    @for $i from 1 through 9 {
        .l_space_0#{$i} {
            letter-spacing: inherit;
        }
    }
}

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   アニメーション
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

.fadein {
    opacity: 0;
    transform: translate(0, 100px);
    /*下から*/
    transition: all 1000ms;
    &.Left {
        transform: translate(-100px, 0);
        /*左から*/
    }
    &.Right {
        transform: translate(100px, 0);
        /*右から*/
    }
    &.scrollin {
        opacity: 1;
        transform: translate(0, 0);
    }
}

/*----文字シャドー----*/

.text-shadow-01 {
    /*左の値から＝＝横に〇px・縦に〇px・ぼかし〇px・影の色#〇〇〇〇〇〇*/
    text-shadow: 1px 2px 3px #000;
}

/*----文字グロー----*/

.text-glow-01 {
    /*左の値から＝＝横に〇px・縦に〇px・ぼかし〇px・影の色#〇〇〇〇〇〇　ｘ4方向*/
    text-shadow: 1px 1px 5px #d7c7b3, -1px -1px 5px #d7c7b3, -1px 1px 5px #d7c7b3, 1px -1px 5px #d7c7b3;
}

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   ボタン
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

.local-btn-area {
    margin: 0 0 0;
    a {
        position: relative;
    }
    &.btn-center {
        text-align: center;
    }
    &.btn-left {
        text-align: left;
    }
    &.btn-right {
        text-align: right;
    }
}

.local-btn-vr1 {
    display: inline-block;
    margin: 0 5px 10px 5px;
    line-height: inherit !important;
    a {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        display: inline-block;
        padding: 7px 50px;
        color: #88bd39;
        background-image: url(images/white_arrow.png);
        background-repeat: no-repeat;
        background-position: right 8% center;
        border: 1px solid #88bd39;
    }
    a:hover,
    .active {
        background-color: #88bd39;
        color: #fff !important;
        text-decoration: none;
    }
}

.local-btn-vr2 {
    display: inline-block;
    margin: 0 5px 10px 5px;
    line-height: inherit !important;
    a {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        display: inline-block;
        padding: 7px 80px 7px 20px;
        color: #000;
        background-color: #d4b07b;
        background-repeat: no-repeat;
        background-position: right 8% center;
        border: 1px solid #d4b07b;
    }
    a:hover,
    .active {
        background-color: rgb(28, 80, 156, 0.2);
        color: #fff !important;
        text-decoration: none;
        border: 1px solid #d4b07b;
    }
}

a {
    &.small {
        font-size: 14px;
    }
    &.middle {
        font-size: 18px;
    }
    &.large {
        font-size: 22px;
    }
    @media only screen and (max-width: 640px) {
        &.small {
            font-size: 16px;
        }
        &.middle {
            font-size: 18px;
        }
        &.large {
            font-size: 20px;
        }
    }
}

/*----ボタンIcon----*/

.local-btn-area {
    a:after {
        font-family: "Material Icons";
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    a.email:after {
        content: "\e158";
        font-size: 18px;
    }
    a.allow:after {
        content: "\e5cc";
        font-size: 20px;
    }
    a.r-line:after {
        content: "";
        display: inline-block;
        width: 70px;
        height: 1px;
        background-color: #000;
        position: absolute;
        right: -35px;
    }
}

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   PC/SP 切り替え
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

.pc {
    display: block;
}

.sp {
    display: none;
}

@media only screen and (max-width: 640px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
    .hidden_sp {
        display: none;
    }
}

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   その他
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

/*----イメージホバー----*/

a {
    img:hover {
        cursor: pointer;
        opacity: 0.8;
    }
    img.no-hover:hover {
        cursor: pointer;
        opacity: inherit;
    }
}

/*--------パンくず--------*/

.breadcrumbsArea {
    background: #efecec;
    padding: 0 0 7px;
    @media only screen and (max-width: 640px) {
        padding: 7px 0 7px;
    }
}

.breadcrumbs {
    width: #{$inner1}px;
    padding-bottom: 0px;
    margin: 0 auto 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 0;
    font-size: 14px;
    @media only screen and (max-width: 640px) {
        width: 100%;
        padding: 10px 3% 0;
    }
    a {
        margin: 0;
        padding: 0;
        text-decoration: none;
        outline: 0;
        vertical-align: baseline;
        background: transparent;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        color: #88bd39;
    }
    span {
        font-size: 14px;
    }
}

/*--------ページネーション--------*/

.wp-pagenavi {
    clear: both;
    width: 100%;
    height: 30px;
    margin: 5px 0 40px;
}

.prev {
    float: left;
}

.next {
    float: right;
}

#pageLinks {
    clear: both;
    color: #e2913d;
    text-align: center;
}

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   全般
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

img {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}

.content_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jc_center {
    justify-content: center;
}

.jc_start {
    justify-content: flex-start;
}

.jc_end {
    justify-content: flex-end;
}

.jc_between {
    justify-content: space-between;
}

.jc_around {
    justify-content: space-around;
}

.jc_evenly {
    justify-content: space-evenly;
}

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   レイアウト
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

.full_width {
    margin: 0 auto 0;
    padding: 0;
    width: 100%;
}

.outer {
    margin: 0 auto 0;
    padding: 0;
    max-width: #{$outer}px;
    width: 100%;
}

.inner {
    margin: 0 auto 0;
    padding-bottom: 0px;
    max-width: #{$inner}px;
    width: 100%;
}

// 最上部で指定したインナー枠を作成する
$inner_: $inner1 $inner2 $inner3;
@each $width in $inner_ {
    .inner_#{$width} {
        width: 100%;
        max-width: #{$width}px;
        padding-bottom: 0px;
        margin: 0 auto 0;
    }
}

// 画面が各枠の"max-width"より小さくなったらサイドにパディング
$frame: (
    ".outer": $outer,
    ".inner": $inner,
    ".inner_#{$inner1}": $inner1,
    ".inner_#{$inner2}": $inner2,
    ".inner_#{$inner3}": $inner3,
);
@each $selector, $frame_width in $frame {
    @media only screen and (max-width: #{$frame_width}px) {
        #{$selector} {
            width: 90%;
        }
    }
}

// 各パターンでフレックス、スペースビトウィーン
.wrap_clm,
.wrap_4clm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 30px;
    div {
        margin: 0;
    }
}

.post_clm {
    flex-wrap: wrap;
    div {
        margin: 0 0 2.5% !important;
    }
}

/*--------------グリッド1要素の幅--------------*/

// 10% から 2.5% 刻みで 90% まで、グリッド要素の幅を設定する。
// 2カラムの中で左に40% 右に50% を指定すると、両端がくっついて、間に10%のマージンが出来る。※予定
@for $i from 4 through 36 {
    @if $i% 2==0 {
        .grid#{$i * 2.5 } {
            width: percentage($i * 25/1000);
        }
    } @else {
        .grid#{$i * 25} {
            width: percentage($i * 25/1000);
        }
    }
}

@media only screen and (max-width: 640px) {
    .wrap_clm div {
        width: 100% !important;
        margin-bottom: 5%;
    }
    .wrap_4clm div {
        width: 45% !important;
        margin-bottom: 5%;
    }
}

.grid {
    width: 100%;
}

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   テーブル
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

table {
    margin-bottom: 20px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

table th {
    border-bottom: 3px solid $key_color;
    vertical-align: middle;
    padding: 20px;
}

table th.top-th {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
}

table th.top-th:last-child {
    border-right: 1px solid #000000;
    border-bottom: 1px solid #fff;
}

table td {
    border-bottom: 1px solid #dedede;
    vertical-align: middle;
    padding: 20px;
}

table td.w20p,
table th.w20p {
    width: 20%;
}

table td.w30p,
table th.w30p {
    width: 30%;
}

table td.w40p,
table th.w40p {
    width: 40%;
}

/*---- SP横スクロール ----*/

@media only screen and (max-width: 640px) {
    .scroll table {
        display: block;
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    .scroll {
        overflow: auto;
        white-space: nowrap;
    }
    .scroll::-webkit-scrollbar {
        height: 5px;
    }
    .scroll::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    .scroll::-webkit-scrollbar-thumb {
        background: #bcbcbc;
    }
    /*---- テーブル ----*/
}

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   その他
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

br.pcNone {
    display: none;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

strong {
    font-size: 18px;
}

.flex {
    display: flex;
}

.bold {
    font-weight: bold;
}

.mgn_0auto {
    margin: 0 auto;
}

/* 
★★★★　下記に各枠の幅を設定　★★★★　　↓↓↓
*/

main {
    margin-top: 100px;
    /* ヘッダー分コンテンツを下げる */
}

/* 
下記にページ毎のcssを追加していく。（テンプレートを使いまわす時は全削除）
※ブレークポイントもページ毎に記載する。
*/

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   TOP
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   TOP
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

/*￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣🐠
｜   TOP
⎿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿🐠 */

/* ★★★★　上記にページ毎のcssを追加していく　★★★★　　↑↑↑
*****************************************************/

/*# sourceMappingURL=style.min.css.map */
